<div class="row">
  <h1 style="text-align: center; color: #08A650"><%=title%></h1>
  <div class="col-xs-12">
    <hr>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Mã FRID:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" name="productName" value="<%=data.FRID%>" disabled></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Password:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" name="productName" value="<%=data.password%>"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Tên, địa chỉ:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" value="<%=data.nameAndAddress%>"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Email:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" value="<%=data.email%>"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Liên hệ:</label>
      </div>
      <div class="col-xs-8" id="product_specs">
        <%data.contacts.forEach(function(item){%>
          <div class="row">
            <div class="col-xs-2 manager-label manager-field">
              <a class="btn remove_product_spec"><span class="glyphicon glyphicon-minus-sign red" style="font-size: 24px;"></span></a>
            </div>
            <div class="col-xs-4 manager-field">
            <form><div class="form-group">
              <div class="input-group">
              <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chọn <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">mobile phone number</a></li>
              <li><a href="#">telephone number</a></li>
              <li><a href="#">address</a></li>
            </ul>
          </div><!-- /btn-group -->
          <input type="text" class="form-control" id="product_line_name" value="<%=item.type%>" disabled aria-label="...">
        </div><!-- /input-group --></div>
        </form>
            </div>
            <div class="col-xs-4 manager-field">
              <form><div class="form-group"><input class="form-control" type="text" name="value" value="<%=item.value%>"></div></form>
            </div>
          </div>
        <%})%>
        <div class="row" id="add_product">
          <div class="col-xs-2 manager-label manager-field">
            <a class="btn" id="add_contact"><span class="glyphicon glyphicon-plus-sign green" style="font-size: 24px;"></span></a>
          </div>
          <div class="col-xs-4 manager-field">
            <form><div class="form-group">
              <div class="input-group">
              <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" disabled data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chọn <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">mobile phone number</a></li>
              <li><a href="#">telephone number</a></li>
              <li><a href="#">address</a></li>
            </ul>
          </div><!-- /btn-group -->
          <input type="text" class="form-control" id="product_line_name" value="" disabled aria-label="...">
        </div><!-- /input-group --></div>
        </form>
          </div>
          <div class="col-xs-4 manager-field">
            <form><div class="form-group"><input class="form-control" type="text" name="value" disabled></div></form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Trạng thái:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group">
          <div class="input-group">
          <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chọn <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <%if(data.status === "Active"){%>
              <li><a href="#">Vô hiệu hoá</a></li>
            <%}else{%>
              <li><a href="#">Kích hoạt</a></li>
            <%}%>
        </ul>
      </div><!-- /btn-group -->
      <%if(data.status === "Active"){%>
        <input type="text" class="form-control" value="Đã kích hoạt" disabled aria-label="...">
      <%}else{%>
        <input type="text" class="form-control" value="Đã vô hiệu hoá" disabled aria-label="...">
      <%}%>
    </div><!-- /input-group --></div>
    </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Đặt hàng gần nhất:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" disabled value="<%=data.latestOrder%>"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Doanh số/tuần:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" disabled value="<%=data.averagePerWeek%>"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">4 tuần gần nhất:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" disabled value="<%=data.last4Weeks%>"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Dư - nợ:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" disabled value="<%=data.currentBalance%>"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Chính sách giá:</label>
      </div>
      <div class="col-xs-8" id ="retailer_policy">
        <%data.applicable_price_policies.forEach(function(item){%>
          <div class="row">
            <div class="col-xs-2 manager-label manager-field">
              <a class="btn remove_product_spec"><span class="glyphicon glyphicon-minus-sign red" style="font-size: 24px;"></span></a>
            </div>
            <div class="col-xs-8 manager-field">
            <form><div class="form-group">
              <div class="input-group">
              <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chọn <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <%data.pricePolicyNames.forEach(function(policy){%>
                <li class="policy_picker"><a href="#" id = "<%=policy.id%>"><%=policy.name%></a></li>
              <%})%>
            </ul>
          </div><!-- /btn-group -->
          <input type="text" class="form-control policy_picked_name" value="<%=item.name%>" disabled aria-label="...">
        </div><!-- /input-group --></div>
        </form>
            </div>
            <div class="col-xs-4 manager-field">
              <form><div class="form-group"><input class="form-control policy_picked_id" type="text" name="value" value="<%=item.id%>"></div></form>
            </div>
          </div>
        <%})%>
        <div class="row" id="add_policy_div">
          <div class="col-xs-2 manager-label manager-field">
            <a class="btn" id="add_policy"><span class="glyphicon glyphicon-plus-sign green" style="font-size: 24px;"></span></a>
          </div>
          <div class="col-xs-4 manager-field">
            <form><div class="form-group">
              <div class="input-group">
              <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" disabled data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Chọn <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <%data.pricePolicyNames.forEach(function(policy){%>
                <li class="policy_picker"><a href="#" id = "<%=policy.id%>"><%=policy.name%></a></li>
              <%})%>
            </ul>
          </div><!-- /btn-group -->
          <input type="text" class="form-control policy_picked_name" value="" disabled aria-label="...">
        </div><!-- /input-group --></div>
        </form>
          </div>
          <div class="col-xs-4 manager-field">
            <form><div class="form-group"><input class="form-control  policy_picked_id" disabled type="text" name="value" value=""></div></form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9 col-xs-offset-5 manager-field"><label id="validate_message"></label></div>
      <div class="col-xs-2 col-xs-offset-5 manager-field">
        <button type="button" class="btn btn-primary" name="update">Lưu</button>
      </div>
      <div class="col-xs-2 manager-field">
        <a href="/admin/retailers" type="button" class="btn btn-warning" name="remove">Thoát</a>
      </div>
    </div>
    <hr>
  </div>
</div>
