<div class="row">
  <h1 style="text-align: center; color: #08A650"><%=title%></h1>
  <h3 style="text-align: center; color: red">Lưu ý: Server cấu hình thấp, hạn chế thay đổi ảnh sản phẩm! Nếu khi thay đổi ảnh sản phẩm không thành công, vui lòng thử lại trong vòng 10-15 phút! Không nên thay đổi liên tục trong thời gian ngắn!!!</h3>
  <div class="col-xs-12">
    <hr>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Dòng sản phẩm:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" name="productLine" disabled value="<%=data.productLine%>"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Tên sản phẩm:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" name="productName" disabled value="<%=data.productName%>"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">ID sản phẩm:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input class="form-control" type="text" disabled value="<%=data.productId%>" name="productID"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Ảnh mẫu:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><input id="sample_image_upload" accept="image/*" class="form-control" type="file" name="sample-picture"></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-4 manager-field">
        <img id="preview_upload_image" class="img img-responsive img-rounded" src="<%=data.productPicture%>" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Thông số:</label>
      </div>
      <div class="col-xs-8" id="product_specs">
        <%data.productSpecs.forEach(function(item){%>
        <div class="row">
          <div class="col-xs-2 manager-label manager-field">
            <a class="btn remove_product_spec"><span class="glyphicon glyphicon-minus-sign red" style="font-size: 24px;"></span></a>
          </div>
          <div class="col-xs-4 manager-field">
            <form><div class="form-group"><input class="form-control" type="text" value="<%=item.field%>" name="field" placeholder="Chỉ số"></div></form>
          </div>
          <div class="col-xs-4 manager-field">
            <form><div class="form-group"><input class="form-control" type="text" value="<%=item.value%>" name="value" placeholder="Giá trị"></div></form>
          </div>
        </div>
        <%});%>
        <div class="row" id="add_product">
          <div class="col-xs-2 manager-label manager-field">
            <a class="btn" id="add_product_spec"><span class="glyphicon glyphicon-plus-sign green" style="font-size: 24px;"></span></a>
          </div>
          <div class="col-xs-4 manager-field">
            <form><div class="form-group"><input class="form-control" type="text" name="field" disabled placeholder="Chỉ số"></div></form>
          </div>
          <div class="col-xs-4 manager-field">
            <form><div class="form-group"><input class="form-control" type="text" name="value" disabled placeholder="Giá trị"></div></form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-xs-offset-1 manager-label manager-field">
        <label for="">Miêu tả sản phẩm:</label>
      </div>
      <div class="col-xs-7 manager-field">
        <form><div class="form-group"><textarea id="product_description" class="form-control" type="text-area" rows="6" name="producDescription"><%=data.productDescription%></textarea></div></form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-9 col-xs-offset-5 manager-field"><label id="validate_message"></label></div>
      <div class="col-xs-2 col-xs-offset-5 manager-field">
        <a type="button" class="btn btn-primary update-product-button" name="update">Lưu</a>
      </div>
      <div class="col-xs-2 manager-field">
        <a href="/admin/products" type="button" class="btn btn-danger cancel-new-manager-button" name="remove">Thoát</a>
      </div>
    </div>
    <hr>
  </div>
</div>
