  <div class="row">
    <%for(var i = 0; i< products.length; i++){%>
      <%if(products[i] !== undefined){%>
        <div class="col-sm-3">
          <div class="thumbnail">
              <div class="caption text-center bg">
                <label><%=products[i].productId%></label>
              </div>
              <img src="<%=products[i].productPicture%>" alt="<%=products[i].productName%>" style="">
              <div class="caption text-center bg">
                <%if(products[i].state === "Unavailable"){%>
                <a href="/admin/products/activate/<%=products[i].id%>" class="btn btn-success">Kích hoạt</a>
                <%}%>
                <%if(products[i].state === "Activated"){%>
                <a href="/admin/products/deactivate/<%=products[i].id%>" class="btn btn-danger">Vô hiệu hoá</a>
                <%}%>
                <a href="/admin/products/<%=products[i].id%>" class="btn btn-primary">Sửa</a>
              </div>
          </div>
        </div>
        <%}%>
        <%}%>
    </div>
