<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Ngoại thất Fansipan - Hệ thống phân phối</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Địa chỉ các nhà phân phối các sản phẩm ngoại thất như bàn ghế ngoài trời, bàn ghế cafe, bàn ghế sân vườn của Công ty cổ phần Ngoại thất Fansipan.">
    <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
    <%- include("style-tags")%>
  </head>
  <body>
    <%- include('navbar',{current_page:"retailers"})%>
<section>
<div class="container">
  <h3 class="text-center" style="color: #08A650">Danh sách các tỉnh - thành phố</h3>
  <div class="row">
    <br>
    <div class="col-md-4">
      <h4 style="margin-top: 10px; color: #FAAE1B">Chọn tỉnh - thành phố:</h4>
      <div class="list-group">
      <%data.forEach(function(item){%>
        <a href="/phanphoi/<%=item.id%>" class="list-group-item city-item"><%=item.province%></a>
      <%})%>
    </div>
    </div>
    <div class="col-md-8">
      <div class="embed-responsive embed-responsive-4by3" style="margin-top: 40px;">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1SvtRSidtcfECdQdcvmtxLlpT3Hg"></iframe>
      </div>
    </div>
    <br>
    <div class="col-sm-10">
      <small>*Hệ thống đang tiếp tục cập nhật danh sách. Để liên hệ mua hàng, bấm vào <a href="/lienhe">đây</a></small>
    </div>
  </div>
  <hr>
</div>
</section>
<%- include('footer');%>
</body>
<%- include("script-tags");%>
</html>
